<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= games %></title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <h1><a href="/">ゲームコレクション</a></h1>
  </header>

  <main>
  bbbb
    <%- body %>  <!-- 各ページの内容がここに埋め込まれる -->
  </main>

  <footer>
    <p>&copy; 2025 ゲームコレクション</p>
  </footer>
</body>
</html>
